.price-title{
    color: #FF136F;
}

.panda-background{
    background-color: #FEEAE9;
}

.panda-button{
    background-image: linear-gradient(#FF589B, #FF136F);
    font-weight: 500;
    outline: 0;
    border: none;
}




